
body {
    display: flex;
    justify-content: center;
    align-items: center;

}
#campo_a {
    width: 200px;
}

#campo_b {
    width: 200px;
}

.mensagem_sucesso {
    display: none;
}

.mensagem_sucesso img {
    width: 206.46px;
    height: 178.5px;
    
}
